* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: linear-gradient(135deg,
            #6f6df4,
            #4c4af4) fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

#info,
#headline {
    text-align: center;
    padding: 10px;
}

#info {
    color: #6f6df4;
}

#headline {
    color: #6f6df4;
}

#tip-calculator {
    background-color: white;
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 1);

}

#form {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}